@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Tektur, Helvetica, sans-serif;
}
h2{
    font-family: Tektur, Helvetica, sans-serif;
}

.header-frontpage {
    background: linear-gradient(90deg, #e63a57, #a6a4a4); 
    position: fixed;  
    top: 0;
    left: 0;
    width: 100%; 
    height: 100px;
    color: white; 
    padding: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    z-index: 1000; 
}

.header-button {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: large;
    color: white;
    position: absolute;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.header-button:hover {
    background-color: white;
    color: #e63a57;
}

.logout-button {
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-button {
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.menu-header {
    background: linear-gradient(90deg, #e63a57, #e63a57, #a6a4a4);
    height: 100px;
    color: white;
    text-align: center;
    padding-top: 35px;

}

.header-h1 {
    text-align: center;
    padding: auto;
}

.bulk-email-status-button {
    background-color: transparent;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: large;
    color: white;
    position: absolute;
    top: 50%;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.verify-email-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: linear-gradient(90deg, #d66d7f, #8b8888);
    max-width: 700px;
    width: 500px;
    height: 100px;
    border-radius: 20px;
    margin-bottom: 20px;
    padding: 20px;
}

input {
    flex: 1;
    height: 35px;
    width: 100%;
    border-radius: 10px;
    border: none;
    padding-left: 20px;
    margin-right: 20px;
}

.verify-email-button {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: #f5cccc;
    cursor: pointer;
    max-width: 150px;
    max-height: 50px;
}

.verify-email-button:hover {
    background-color: #e2bcbc;
}


input[type="file"] {
    flex: 1;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    background: white;
    color: #9a9595;
    border: none;
}



.upload-button {
    background: #f5cccc;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.submit-button {
    background-color: #d66d7f;
 
    
    font-size: large;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #c0566e;
}
